body {
  justify-content: center;
}
.frame {
  margin: auto;
  background-image: linear-gradient(to right, lightgray, gray);
  border: 2px solid black;
  box-shadow: 5px 5px #3b3b3b;
  border-radius: 10px;
  width: 300px;
  height: 480px;
  display: grid;
  grid-template-rows: 15px 110px 360px;
}

.brand {
  text-align: center;
  margin: 10px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

.screen {
  height: 70px;
  width: 275px;
  margin: 30px 10px 20px 10px;
  border: 3px inset white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 5px inset black;
  background-image: linear-gradient(to bottom, white, lightgray);
  display: inline-flex;
  justify-content: flex-end;
}

#content {
  height: 50px;
  width: 275px;
  margin: 5px 10px;
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
  text-align: right;
  overflow-x: auto;
  border-right: 3px solid black;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

#content::-webkit-scrollbar {
  display: none;
}

.button-grid {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

.label {
  background-image: linear-gradient(to bottom, #ffffff, #8c8c8c);
  width: 65px;
  height: 65px;
  box-shadow: 2px 2px black;
  cursor: pointer;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.label:active {
  box-shadow: 0 0;
}

.operator {
  background-image: linear-gradient(to bottom, #8a8a8a, #171717);
  color: white;
}

.clear {
  background-image: linear-gradient(to bottom, #ff5c5c, #d10000);
  color: white;
}
